<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="sytle.css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Lista de tarefas</title>
</head>

<body class="page">
    <header>
        <Nav class="menu">
            <button class="menu_item"><img src="./icons/plus.png"></button>
            <button class="menu_item"><img src="./icons/gear.png"></button>
            <div class="input_search">
                <button id="search_button">
                    <img src="./icons/loupe.png" alt="icone de lupa">
                </button>
                <input type="text" id="search" class="field_search" placeholder="Pesquisar por Nome">
            </div>
        </Nav>
    </header>
    <main>
        <div id="teste"></div>
    </main>
</body>
<script src="./scripts/script.js"></script>
</html>